.options {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

button {
  font-size: medium;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 4px;
  text-transform: capitalize;
}
